.pokemon-details {
  width: 40%;
  margin: 50px auto;
  .pokemon-info {
    margin-right: 45px;
    margin-top: 45px;
  }
  .pokemon-img {
    zoom: 2;
  }

  .text-end {
    margin-left: 10px;
  }
}
.back {
  font-weight: bold;
  font-size: 20px;
}
